img {
  width: 25%;
  padding: 15px;
  float: left;
}

body {
  background-color: sandybrown;
}

.about {
  margin: 25px;
  text-align: center;
  font-family: 'Times New Roman', Times, serif;
  font-weight: bolder;
}

.container {
  text-align: center;
  background-color: aquamarine;
  border: 5px solid purple;
}

.jumbotron {
  background-color: aquamarine;
}