a {
  font-weight: normal;
}

img {
  width: 25%;
}

.bird {
  width: 25%;
  padding: 15px;
  float: left;
}

.meme {
  width: 30%;
  border-radius: 8px;
}

.chance {
  border: 2px solid yellow;
  padding: 2px;
  float: right
}

body {
  background-color: sandybrown;
}

.about {
text-align: center;
font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.about p {
  margin: 25px;
  text-align: center;
  font-family: 'Times New Roman', Times, serif;
  font-weight: bolder;
}

.container {
  text-align: center;
  background-color: aquamarine;
  border: 5px solid purple;
  color: black
}

.container h1 {
color: slategray
}

.jumbotron {
  background-color: aquamarine;
}

.col-md-3 {
  float: right;
  margin: 15px;
  padding: 15px;
}

.col-md-5{
  margin: 15px;
  padding: 15px;
}

@media screen and (max-width: 768px) {
  body {
    background-color: thistle;
    color: black
  }
}